.widget-area {
	margin-top: $margin__section;
	padding: $margin__section;
}
.widget {
	margin-bottom: $margin__section*2;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	margin-top: 0;
	@include fz(24);
	color: $color__text-widget-title;
	font-weight: 900;
	text-align: center;
}

/* related-post widget. */
#related-post {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		@include display-flex;
		@include flex-wrap(wrap);
		border-top: solid 1px $color__border-hentry;
		padding-top: $margin__section;
	}
	li {
		vertical-align: top;
		display: inline-block; /* non-flexbox browsers */
		@include align-items(stretch);
		@include flex-basis( 50% );
		.thumbnail {
			height: 100px;
			margin-bottom: 10px;
		}
		> a {
			display: block;
			padding-right: $margin__section;
			border-right: solid 1px $color__border-hentry;
		}
		&:nth-child(even) > a {
			padding-right: 0;
			padding-left: $margin__section;
			border-right: none;
		}
	}
}

/* Ranking widget. */
.widget-ranking {
	ol {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		position: relative;
		padding-left: 30px;
		@include fz(16);
		color: $color__text-entry-title;
		font-weight: 900;
		border-bottom: solid 1px $color__border-hentry;
		padding-bottom: $margin__section;
		margin-bottom: $margin__section;
		&:before {
			content: '';
			@include fz(16);
			color: $color__text-entry-title;
			font-weight: 900;
			position: absolute;
			left: 0;
		}
		a {
			color: $color__text-entry-title;
		}
		
		@for $i from 1 through 10 {  
			&:nth-child(#{$i}) {  
				&:before {
					content: $i + '.';
				}
			}
		}
	}
}