extends extends/_layout

block vars
	- var sitename    = 'Media Blogger';
	- var title       = 'title';
	- var description = 'description';
	- var type        = 'post';

//- scripts
block append wp_head

block append wp_footer
	script(src="/assets/js/wpjsonranking.min.js?ver=#{ver}")
	script(src="/assets/js/wpjsonpost.min.js?ver=#{ver}")
	script.
		(function($) {
			// post
			$(window).load( function() {
				HashObserve.addFunc(function(now_hash, prev_hash){
					if ( now_hash !== prev_hash ) {
						// post
						var hashobj  = location.hash.split("/");
						var id	 = hashobj.pop();
						wpjsonPost( 'post', 'posts', '/'+id );
						wpjsonRelated( id );
					}
				});
				
				setInterval(HashObserve.observe, 1000/30);
			});
		})(jQuery);

//- primary content
block primary

	//- Page
	article.post.hentry
		#thumbnail-box
		header.entry-header
			h1.entry-title

		.entry-content
			#entry-box
				include includes/_loader
		footer.entry-footer
			.sns-btn
				a.facebook(href="#", target="_blank") <i class="fa fa-facebook-official"></i> Facebook
				a.twitter(href="#", target="_blank") <i class="fa fa-twitter"></i> Twitter
			.entry-meta
				.entry-date <i class="fa fa-calendar"></i>
					time
				.posted-in-category <i class="fa fa-folder-open"></i>
					span.cats
				.posted-author <i class="fa fa-user"></i>
					span.author
				.posted-in-tags <i class="fa fa-tag"></i>
					span.tags
				.posted-in-post-format

//- secondary content
block secondary
	//- Related Posts
	aside#related-box.widget.widget-related-post

	//- Ranking
	aside#ranking-box.post-list.widget.widget-ranking
