button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $color__border-button;
	@include border-radius(3px);
	background: $color__background-button;
	color: $color__text-button;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	@include box-sizing(border-box);

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__background-button-hover;
		color: $color__text-button-hover;
	}
	
	&:focus, &:active {
		border-color: $color__border-button-focus;
		background: $color__background-button-focus;
		color: $color__text-button-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	@include border-radius(3px);
	@include box-sizing(border-box);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__text-input-focus;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 10px;
}

textarea {
	padding: 10px;
	width: 100%;
}