extends ../extends/_layout

block vars
	- var sitename    = 'Media Blogger';
	- var title       = 'title';
	- var description = 'description';
	- var type        = 'archive';

//- scripts
block append wp_head

block append wp_footer
	script(src="/mak-simple/js/wpjson-ranking.js?ver=#{ver}")
	script(src="/mak-simple/js/wpjson-postlist.js?ver=#{ver}")
	script.
		(function($) {
			// archive
			$(window).load( function() {
				HashMonitor.addFunctions( function( now_hash, prev_hash ){
					if ( now_hash !== prev_hash ) {
						var lpath	= location.pathname.split("/");
						var lpathend = lpath[lpath.length-1];
						if ( lpathend === '' ) {
							lpath.pop();
						}
						var taxonomy = lpath[lpath.length-1];
						var hashobj  = location.hash.split("/");
						var term	 = hashobj[1];
						var page	 = '';
						if ( hashobj.length > 2 ) {
							page	 = hashobj[3];
						}
						wpjsonPosts( taxonomy, term, page );
					}
				});
				
				setInterval( HashMonitor.monitoring, 1000/30 );
			});
		})(jQuery);

//- primary content
block primary

	//- Posts
	header.page-header
		h1.page-title
		.page-description
			p

	#post-box.post-list
		include ../includes/_loader
	//- more btn
	#more-entry

//- secondary content
block secondary

	//- Ranking
	aside#ranking-box.post-list.widget.widget-ranking
